
  html {
    font-size: 10px;
    font-family:  cursive;
    background-color:rgb(137, 172, 228);
    margin:auto auto;
  }
  body {
    width: 600px;
    margin:0 auto;
    background-color: #FF9500;
    padding: 0 auto;
    border: 5px solid black;
    text-align:center;
  }
 img {
    width:500px;
 }
  p{
    display: block;
    color:red;
    width:500px;
    border: 1px solid black;
    text-align: center;
    
  }

  